* {
  margin: 0;
  padding: 0; }

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__img {
    margin-left: 1rem; }
  .header__ul {
    display: flex;
    list-style: none;
    font-weight: bold; }
    .header__ul li {
      padding: 1rem; }
    .header__ul--active {
      color: #d780c8;
      font-weight: bold; }

.card {
  background-color: #c3f9c3;
  margin: 1rem;
  border-radius: 15px;
  width: 100vw;
  padding: 2rem; }

@media (max-width: 650px) {
  .card {
    width: 50vw;
    margin: 1rem; } }
