.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__img{
        margin-left:  1rem;
        
    }
    &__ul{
        display: flex;
        list-style: none;
        font-weight: bold;
        li{
           padding: 1rem;
        }
        &--active{
            color: rgb(215, 128, 200);
            font-weight: bold;
        }
    }
}