@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

$comentariosletra:'Roboto Slab', serif;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Roboto+Slab:wght@300;400&display=swap');

$parrafoletra: 'Fira Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Pacifico&family=Roboto+Slab:wght@300;400&display=swap');

$encabezado: 'Pacifico', cursive;

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Fira+Sans:wght@300&family=Pacifico&family=Roboto+Slab:wght@300;400&display=swap');

$secondoption: 'Fira Sans', sans-serif;