.header{
    background-color: rgb(242, 208, 242);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__img{
        margin: left 1rem;
    }
    &__ul{
        display: flex;
        list-style: none;
        font-weight: bold;
        li{
           padding: 1rem;
        }
        &--active{
            font-weight: bold;
        }
    }
}